/* This file overrides the navbar defaults */

h1 {
	color: gray;
	font-size: 30px;
  }


/* Navbar title */
.navbar-default .navbar-brand {
  color: gray;
  font-size: 40px;
  padding: 0 15px;
  height: 60px;
  line-height: 60px; 
  font-family: "adelle";
}

/* Navbar links */
.navbar-default .navbar-nav > li > a {
  color: gray;
  font-size: 16px;
  padding: 0 15px;
  height: 60px;
  line-height: 60px;    
  font-family: "adelle";    
}


/* Jumbotron adjustments  */

.jumbotron {
  padding-bottom: 10px;
  margin-bottom: 25px;
  margin-top: 15px;   
  color: inherit;
  background-color: #eee;
  font-family: "adelle";    
}

.jumbotron p {
  font-size: 24px;
  margin-top: 15px;
  font-family: "adelle";    

}

/* Menu adjustments */

.navbar-header .navbar-toggle {
  font-family: "adelle";
  color: gray;
}

/* Portfolio stuff */

/*** Portfolio pieces ***/
.portfolio-thumbnail {
  background-color: #fff;
  border-color: lightgray;
  border-width: 2px;
  width: 95%;
}

.portfolio-thumbnail:hover {
  border-color: gray;
}

.portfolio-title {
  font-weight: bold;
}

.portfolio-description {
}

.portfolio-image {
}
